{% extends 'base.html.twig' %}

{% block body %}
    <h1>
        The easiest way to send read-once messages to friends and family.
    </h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}

        <button type="submit">Send Message</button>
    {{ form_end(form) }}
{% endblock %}
